@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/functions";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

h1 {
    font-size: 30px;
}

